:root {
  /* change these top variables to change the theme! */

  --primary-hue: #edba80;

  --monochrome-alpha: 63%;
  --bg: hsl(var(--primary-color), 50%, 30%);
  --bg-dark: hsl(var(--primary-hue), 50%, 20%);
  --heading-text: hsl(calc(var(--primary-hue) - 45), 100%, 80%);
  --heading-bg: hsla(calc(var(--primary-hue) - 15), 100%, 65%, 20%);
  --gray88: hsla(0, 0%, 88%, var(--monochrome-alpha));
  --white-alpha: hsla(0, 0%, 100%, var(--monochrome-alpha));
  --gray50: hsl(0, 0%, 50%);
  background: linear-gradient(
    var(--light-angle),
    var(--bg-dark),
    var(--bg) 200%
  );
}

:root * {
  box-sizing: border-box;
}
body {
  background-color: lightsteelblue;
}
.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #ad4130;
  margin: 0.25em 0;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  width: 100px;
}

.CitySearch,
.NumberOfEvents,
.EventList {
  display: flex;
  flex-direction: column;
}

.noe-input {
  width: 200px;
  height: 30px;
}

.CitySearch {
  border-left: 1px solid var(--bg);
  border-bottom-left-radius: 100%;
  padding: 0 0 0.75em 1.75em;
}

.EventList {
  width: 100%;
}

.filter-box,
.Event {
  margin-bottom: 0.35em;
  box-shadow: 0 0.2em hsla(0, 0%, 0%, 40%);
}

.Event {
  border: 1px solid var(--gray50);
  border-radius: 0.35em;
  background: var(--white-alpha);
  margin: 0.25em 0.75em;
  padding: 0.25em 0.85em 0.5em;
  color: #1d1d1d;
}

.Event.expanded {
  background: var(--heading-text);
  color: black;
  box-shadow: 0 0.2em hsla(0, 0%, 100%, 40%);
}

.details-button {
  padding: 1em 1.25em;
  border-radius: 3em;
  border: none;
  box-shadow: 0 0.2em hsla(0, 0%, 0%, 20%);
  width: 120px;
  cursor: pointer;
}
.details-button:hover {
  opacity: 0.7;
}

.details-button:active {
  background-color: var(--heading-text);
  opacity: 0.75;
  box-shadow: none;
  transform: translateY(0.2em);
}

.Event.expanded .details-button {
  background-color: white;
}

.subtitle {
  margin-top: 0;
}

.text-white {
  color: white;
}

.TopBar {
  text-align: center;
  position: sticky;
  width: 100%;
  border-bottom: 1.1px solid var(--gray50);
  background: var(--bg);
}

.filter-box {
  background: #edba80;
  display: grid;
  width: inherit;
  grid-template-columns: 50% auto;
  border: none;
}

.suggestions {
  background: linear-gradient(90deg, var(--white-alpha), transparent);
}
